.header{
    background-color: #F39036;
    border-radius: 25px;

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    

    width: 89%;
    height: 14%;

    margin: 0 auto;
}

.headerChildren{
    display: inline;
}

body{
    background-color: #1F1F1F;
}