/* Импорты */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;800&display=swap');

/* хедер */
.header{
    background-color: #F39036;
    border-radius: 25px;
    width: 89vw;
    height: 5%;

    margin: 0 auto;
    margin-top: 40px;
    
}
.container{
    padding: 35px;
    display:flex;  
    justify-content: space-between;
    

}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}
.buttons p{
    padding-right: 5%;
    font-size: 24px;
    
    letter-spacing: 2px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.buttonWhite{
    height: 50px;
    border-radius: 50px;
    border: #FFFFFF;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.0px;
    padding-left: 4%;
    padding-right:4% ; 
}
.headerChildren{
    display: block;
    flex-direction: row;
    align-items: center;
}
/* хедер ------------------------------------------*/


.authDiv{
    background-color: #F39036;
    border-radius: 25px;
    display:block;
    width: 624px;
    margin: 0 auto;
}

.authDivChild{
    display: block;
    padding: 20px;
    padding-bottom: 16px;
    
}
.authDivChild .authButtonDiv{
    padding-bottom: 32px;
    padding-left: 20px;
    margin-right: 32px;
}




.authText{
    font-family: 'Unbounded', cursive;
    letter-spacing: 2px;
    font-size: 36px;
    color: #FFFFFF;
}


.inputAuth:focus, input:focus {outline: none;}
.inputAuth{
    width: 500px;
    height: 30px;
    border-radius: 100px;
    border-color: #FFFFFF; 
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 26px;
    padding: 1rem;
    margin-bottom: 16px;
    border: none;
}


.AuthbuttonWhite{
    position: relative;
    height: 50px;
    border-radius: 50px;
    border: #FFFFFF;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.0px;
    left: 4%;
    margin-bottom: 4%;
    margin-right: 6%;
    padding-left: 4%;
    padding-right:4% ; 
}
.RegbuttonWhite{
    position: relative;
    height: 50px;
    border-radius: 50px;
    border: #FFFFFF;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.0px;
    left: 4%;
    margin-bottom: 4%;
    margin-right: 12.2%;
    padding-left: 4%;
    padding-right:4% ; 
}

.img_logo{
    position: absolute;
width: 40.2px;
height: 56.69px;
left: 80.4px;
top: 13.63px;
}

.imgPG{
    height: 100%;
}

/* Общий задний фон */
body{
    background-color: #434343;
}

/* Компонент page_body */
.PageBobi{
  max-height: 65vh;
  padding-top: 3%;
  width: 89vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
    
 flex-direction: row;
 
}
.Contentleft{
    padding: 3%;
    word-wrap:break-word;
    width: 45.5%;
    display: block;
    background: #FFFFFF;
    border-radius: 25px;
}
.Contentright{
    overflow: hidden;
    display: block;
    flex-direction: row;
    width: 45.5%;
    border-radius: 25px;
}
 
.page_body_h1{
    
width: 98%;
font-family: 'Unbounded', cursive;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 70px;
/* or 109% */
color: #1F1F1F;

}
.page_body_h2{
padding-top: 0.01%;
width: 98%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.03em;
color: #1F1F1F;
}

.page_button{
    width: 100%;
    display:flex;
    vertical-align: middle;
    height: 25%;
    background: #F39036;
    border-radius: 1000px; 
    flex-direction:row;
    justify-content:space-between;
    margin-top: 10%;
    padding-left: 1%;
    padding-right: 1%;
}
.page_button_text{
    
    padding-left: 1%;
    

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 67%;
  
    font-family: 'Unbounded', cursive;
    font-style: normal;
    
    font-size: 32px;
    line-height: 46px;

    color: #FFFFFF;
}

.page_button_circle{

    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

.body_MainPage{
    width: 100%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
}